@model Tubrbokart.Presentation.Websites.TurbokartInternal.Models.Viewmodels.LoginModel
@{
}
<form class="form" method="post">
    <div class="mb-3">
        <label class="form-label">Brugernavn:</label>
        <input type="text" class="form-control" asp-for="Username"/>
    </div>
    <div class="mb-3">
        <label class="form-label">Adgangskode:</label>
        <input type="password" class="form-control" asp-for="Password" />
    </div>
    <div class="mb-3">
        <button class="btn btn-secondary">Login</button>
    </div>
</form>