@page
@model PricesModel
@{
    ViewData["Title"] = "Prices";
}

<section class="row booking-card-wrapper">
    <article class="col booking-card">
        <h3>Enkelt grand prix</h3>
        <p>En enkelt grand prix er en individuel løbsoplevelse, hvor hver deltager kører mod hinanden i flere heat eller løbssessioner. Typisk starter deltagerne med kvalifikationsrunder for at fastlægge deres startposition i de efterfølgende løb. Herefter konkurrerer deltagerne i flere løb med forskellige omgange, og den endelige placering afgøres ofte ved at kombinere resultaterne fra disse løb. Enkelt grand prix'er tilbyder en intens konkurrence mellem enkeltdeltagere og fremhæver køreevner og konsistens.</p>
        <h4>300,- pr.</h4>
    </article>
    <article class="col booking-card">
        <h3>Dobbelt grand prix</h3>
        <p>Double grand prix involverer teams af to kørere, der konkurrerer som et hold. Hver deltagerkombination konkurrerer i flere heat eller løb, hvor de skiftes til at køre undervejs i løbet. Ligesom enkelt grand prix starter det typisk med kvalifikationsrunder, hvor hvert hold fastlægger deres startposition. De to kørere i et hold arbejder sammen om at opnå den bedst mulige placering ved at skifte mellem hinanden på strategiske tidspunkter under løbene.</p>
        <h4>500,- pr.</h4>
    </article>
</section>
<section class="booking-cta">
    <article>
        <a asp-page="/Booking">
            <button>Book grandprix</button>
        </a>
    </article>
</section>


