@model Tubrbokart.Presentation.Websites.TurbokartInternal.Models.Viewmodels.EditModel
@{
}

<style>

    .form .radio {
        background-color: hsl(118, 95%, 55%);
        transition: background 0.2s ease-in;
        border-radius: 0.2rem;
        color: black;
        position: relative;
        display: grid;
        place-content: center;
        width: 10rem;
        height: 2.5rem;
        text-align: center;
    }

        .form .radio:has(input:checked) {
            background-color: hsl(118, 95%, 40%);
        }

        .form .radio input[type="radio"] {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }
</style>

<form class="form" method="post">
    <div class="mb-3">
        <label class="form-label">Race type:</label>
        <select class="form-select" asp-for="Grandprix">
            <option value="Enkelt" selected>Enkelt</option>
            <option value="Double">Double</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Email:</label>
        <input class="form-control" type="email" required asp-for="Email" />
    </div>
    <div class="mb-3">
        <label class="form-label">Phonenumber:</label>
        <input class="form-control" type="tel" pattern="[0-9]{8}" asp-for="Phonenumber" />
    </div>
    <div class="mb-3">
        <label class="form-label">Dato:</label>
        <input class="form-control" type="date" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
    </div>
    <div class="mb-3 d-flex gap-3 flex-wrap">
        <div class="radio">
            <label>10:00</label>
            <input type="radio" name="time" value="10:00" asp-for="Time" />
        </div>
        <div class="radio">
            <label>10:30</label>
            <input type="radio" name="time" value="10:30" asp-for="Time" />
        </div>
        <div class="radio">
            <label>11:00</label>
            <input type="radio" name="time" value="11:00" asp-for="Time" />
        </div>
        <div class="radio">
            <label>11:30</label>
            <input type="radio" name="time" value="11:30" asp-for="Time" />
        </div>
        <div class="radio">
            <label>12:00</label>
            <input type="radio" name="time" value="12:00" asp-for="Time" />
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Antal personer:</label>
        <input class="form-control" type="number" min="1" max="20" value="@Model.Amount" asp-for="Amount" />
    </div>
    <div class="mb-3">
        <button class="btn btn-secondary">Gem</button>
    </div>
</form>
