@{
    ViewData["Title"] = "Home Page";
}



<form method="post">
    <div class="row">
        <div class="col">
            <label>Dato:</label>
            <input type="date" value=""/>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</form>
